@import url(./style.css);

section .blogs {
    background-color: white;
    padding:10px;
    max-width: ;
}
section .title {
    text-align: center;
    margin: 0 auto;
}
section .title h2 {
    color: black;
    font-size: 40px;
    font-family: 'Handlee', cursive;
    font-style: italic;
}
section .title h2 em {
    color: var(--color-principal)
}
section .title hr {
    border-color: var(--color-principal);
    width: 8.75em;
}
section .blogs article .date {
    display: flex;
    width: 33.333%;
    flex-direction: column;
    background-color: var(--color-principal)
}

section .blogs figure {
    display: flex;
    width: 33.333%;
}
section .blogs article h2{
font-size: 24px;
}
section.blogs article :is(h4, a) {
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
}
