@import url(./reset.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

html {
    scroll-behavior: smooth; /* Para generar animaciones de puntos de ancla*/
}
:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --color-principal: #fa573a;
    --color-secundario:#21242e;
    --margingrid: 1em;
    --fontsize: 1em;
    --max-width: 68.75em;
}
.container{
    max-width: var(--max-width);
    margin: 0 auto;
}
body{
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}



/* inicio header */

header .nav-top{
    background-color: var(--color-secundario);
    padding: 1.25em 0px;
}
header .nav-top .container{
    display: flex;
    justify-content: space-around;
}
header .nav-top a{
    color: var(--color-principal);
    text-decoration: none;
}
header .nav-top a i{
    font-size: 150%;
}
header .nav-top span{
    color: white;
    display: none;
}
header nav{
    padding: 1.25em;
}
header nav .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header nav .menu{
    width: 100%;
}
header nav .menu .activa {
color: var(--color-principal);
}
header nav .menu a:hover{
    color:var(--color-principal)
}
header nav .hamburguesa{
    cursor: pointer;
    width: 1.875em;
}
header nav .hamburguesa div{
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}
header nav figure{
    max-width: 100px;
}
header nav .menu a{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 1.25em;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}
header nav .menu li:last-child a{
    border-bottom: 0px;
}
/* final header */


/*Inicio footer*/
footer{
    background-color: var(--color-secundario);
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    height: 3.125em;
    padding: 0.725em;
    bottom: 0;
    font-size: 110%;
}
footer a{
color: white;
text-decoration: none;
}
footer a:hover{
color: var(--color-principal)
}
/* final footer */

.flecha a{
    display: block;
    color: var(--color-principal);
    font-size: 300%;
    position: fixed;
    bottom: 4.375rem;
    right: 1.25rem;
}


/*Inicio HERO*/
.hero {
    height: 60vh;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    position: center center;
    background-blend-mode: multiply;
    background-color: #888;
    padding-top: 6vh;
    color: white;
}
.hero h1{
    font-family: var(--fuentetitulos);
    font-size: 2.25em;
}
.hero h2{
    color: var(--color-principal);
    font-size: 1.25em;
    margin: var(--margingrid)

}
.hero p{
    font-size: 1.15em;
}
.hero .container>div{
    margin: var(--margingrid) 0;
}

.boton {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1.15em;
    background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
}
.boton:hover{
    background-color: transparent;
    color: var(--color-principal)
}
.boton:hover i {
    transition: transform 0.5s;
    transform: translateX(5px);
}

.hero .social{
    display: flex;
    justify-content: space-between;
    width: 10.5em;
}
.hero .social a{
color: white;
font-size: 2em;
}
.hero .container{
    padding: 0 var(--margingrid)
}
/*Final HERO*/


/*Inicio BLOG*/
section .title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    align-items: center;
    padding-top: 20px;
}
section .title h2 {
    color: black;
    font-size: 40px;
    font-family: var(--fuentetitulos);
    font-style: italic;
    font-weight: bold;
}
section .title h2 em {
    max-width: 37.5em;
    color: var(--color-principal)
}
section .title hr {
    border-color: var(--color-principal);
    width: 4.75em;
    display: inline-block;
    position: relative;
    margin-top: 15px;
}
section .title span {
    color: var(--color-principal);
    position: absolute;
    font-size: 28px;
    font-weight: bold;
}


section.blogs {
    background-color: white;
    padding:10px;
    margin-left: 50px;
    display: flex;;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    font-family: var(--fuenteprincipal);
}
section.blogs div.entry {
    width: 33.333%;
    display: grid;
    padding: 25px;
    justify-content: center;
    grid-template-columns: 2fr 2fr;
}
section.blogs div.entry article {
    width: 100%;
    padding: 15px;
   display: inline-block;
   text-align: left;
}
section.blogs article span {
    background-color: var(--color-principal);
    color: white;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top:35,5%;
    z-index: 1;
    opacity: 0.75;
}
section.blogs figure img{
    display: flex;
    position: relative;
    width: 250px;
    height: 160px;
}
section.blogs .entry article h2 {
    font-size: 28px;
    padding-top: 30px;
    padding-left: 20px;

}
section.blogs article :is(h4, p, a){
font-size: 16px;
width: 100%;
padding: 10px;
}
section.blogs article :is(h4, a) {
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
}
/* Fin BLOG*/


/*Inicio media queries BLOG*/

@media (min-width: 37.5em){
    section.blogs {
        max-width: 1100px;
        margin: 0 auto;
    }
    section.blogs div.entry {
        display: flex;
        width: 100%;
    }
    section.blogs figure img{
        width: 380px;
        height: 200px;
    }
    section.blogs article p {
        max-width: 65%;
        width: 65%
    }
}
/*Fin media queries BLOG*/


/* inicio media queries HEADER */
@media(min-width: 48em){
    header .nav-top a i{
        font-size: 120%;
    }

    header .nav-top span{
        display: inline;
    }

    header .nav-top .container{
        justify-content: space-between;
    }
    footer{
        text-align: left;
    }
}

@media(min-width: 62.75em){
    header nav .menu{
        width: auto;
    }

    header nav .hamburguesa{
        display: none;
    }

    header nav .menu li{
        display: inline-block;
    }

    header nav .menu a{
        padding: 0.5em 0 1.25em 1.25em;
        border-bottom:0px;
    }
    .hero .container{
        padding: 0;
    }
}

/*Fin media queries HEADER*/


/*Inicio media queries FOOTER*/


/*Fin media queries FOOTER*/
