@import url(./reset.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

html {
    scroll-behavior: smooth; /* Para generar animaciones de puntos de ancla*/
}
:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --color-principal: #fa573a;
    --color-secundario:#21242e;
    --margingrid: 1em;
    --fontsize: 1em;
    --max-width: 68.75em;
}
.container{
    max-width: var (--max-width);
    margin: 0 auto;
}

body{
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}

/* Inicio Header*/

header .nav-top{
    background-color: var(--color-secundario);
    padding: 1.25em 0px;
}
header .nav-top .container {
    display: flex;
    justify-content: space-around;
}
header .nav-top a{
    color: var(--color-principal);
    text-decoration: none;

}

header .nav-top a i{
    font-size: 150%;
}
header .nav-top span{
    color: white;
    display: none;
}



/* Fin Header*/


/* Inicio mediaqueries*/
@media (min-width: 48em){
    header .nav-top span{
        display: inline;
    }
}
header .nav-top a i{
    font-size: 120%;
}


/* Fin Mediaqueries*/
