@import url(./reset.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

html {
    scroll-behavior: smooth; /* Para generar animaciones de puntos de ancla*/
}
:root {
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --color-principal: #fa573a;
    --color-secundario:#21242e;
    --margingrid: 1em;
    --fontsize: 1em;
    --max-width: 68.75em;
}
.container{
    max-width: var(--max-width);
    margin: 0 auto;
}

body{
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}

/* inicio header */

header .nav-top{
    background-color: var(--color-secundario);
    padding: 1.25em 0px;
}

header .nav-top .container{
    display: flex;
    justify-content: space-around;
}

header .nav-top a{
    color: var(--color-principal);
    text-decoration: none;
}

header .nav-top a i{
    font-size: 150%;
}

header .nav-top span{
    color: white;
    display: none;
}

header nav{
    padding: 1.25em;
}

header nav .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .menu{
    width: 100%;
}

header nav .hamburguesa{
    cursor: pointer;
    width: 1.875em;
}

header nav .hamburguesa div{
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}

header nav figure{
    max-width: 100px;
}

header nav .menu a{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 1.25em;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child a{
    border-bottom: 0px;
}

/* final header */

/* inicio media queries */
@media(min-width: 48em){
    header .nav-top a i{
        font-size: 120%;
    }

    header .nav-top span{
        display: inline;
    }

    header .nav-top .container{
        justify-content: space-between;
    }
}

@media(min-width: 62.75em){
    header nav .menu{
        width: auto;
    }

    header nav .hamburguesa{
        display: none;
    }

    header nav .menu li{
        display: inline-block;
    }

    header nav .menu a{
        padding: 0.5em 0 1.25em 1.25em;
        border-bottom:0px;
    }
}

@media (min-width: 37.5em){
    

}


/*Fin media queries*/
